# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# go mod
go.sum

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Ignore log file
gin.log

# Ignore configuration
config.json

# GoLand config
/.idea

# VSCode config
/.vscode

websentry
