name: Main

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  main:
    name: Main
    runs-on: ubuntu-latest
    services:
      postgres:
        image: postgres
        env:
          POSTGRES_PASSWORD: postgres
        # The health checks is moved to "Prepare Functional Test" step below
        # options: >-
        #   --health-cmd pg_isready
        #   --health-interval 10s
        #   --health-timeout 5s
        #   --health-retries 5
        ports:
          - 5432:5432

    steps:
    - name: Set up Go 1.x
      uses: actions/setup-go@v2
      with:
        go-version: ^1.13
      id: go

    - name: Check out code into the Go module directory
      uses: actions/checkout@v2

    - name: golangci-lint
      uses: golangci/golangci-lint-action@v1
      with:
        # Required: the version of golangci-lint is required and must be specified without patch version: we always use the latest patch version.
        version: v1.26

    # dependencies is loaded in "golangci-lint"
    - name: Build
      run: go build -v .

    - name: Prepare Functional Test
      run: |
        timeout 10 sh -c 'until nc -z $0 $1; do sleep 1; done' localhost 5432
        pip3 install -U pip setuptools 
        pip3 install -r functional_test/requirements.txt

    - name: Functional Test
      run: |
        python3 functional_test/main.py --db postgres://postgres:postgres@localhost:5432/postgres?sslmode=disable --skip_clean_db true --port 8081

    - name: Build & Push docker image
      uses: docker/build-push-action@v1
      if: github.ref == 'refs/heads/master' && github.event_name == 'push' 
      with:
        dockerfile: Dockerfile.ci
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}
        repository: websentry/websentry
        tags: dev
